/* Place your CSS styles in this file */

h1 {
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: normal;
    font-size: 55px;
    color:#404040;
 
}

table, td, th {

    border: 1px solid rgb(20, 20, 20);
    background-color: rgb(225, 225, 225)

}

th {

    font-family: Verdana

}

html {

    background-color:rgb(235, 235, 235);

}

.division1 {

    text-align: center;

}

.credits {

    text-align: center;
    text-shadow: 1px 1px gray;

}
